@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

html {
	scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* width */
::-webkit-scrollbar:horizontal {
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	/* background: #888; */
	/* border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
	background: #000;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
